# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log

# Django
*.db
*.env
.env
db.sqlite3

# VSCode
.vscode/

# macOS
.DS_Store

# Byte-compiled / optimized / DLL files
*.pyc

# Virtual Environment
venv/
env/
*.egg-info/
.idea/

# System
*.swp

